<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
    <base href="{{_BASE}}">
    <title>Creative work</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta property="og:image" content="">
    <link rel="stylesheet" type="text/css" media="screen" href="fonts/font.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css?refresh=4">  
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>

    </head>

    <body style="scroll-behavior: smooth;">

        <nav class="fixed-top" >

           <!-- <a class="" href="#">Animacija</a> -->
            {% set c = (_GET[0] in ['','index']) ?'255':'0' %}
            <ul class="navigation d-flex mb-0 font-weight-bold" id="menu">
                <li class="d-inline " style="flex:1">
                    <a href="index" style="display:inline-block; position:relative" class="nav-link font-weight-bold" >
                    <span
                        data-0="display:!inline;"
                        data-190="display:!none;"                    
                    >the creativework</span>
                    <span
                        data-0="display:!none;"
                        data-190="display:!inline;"                       
                    >tc.</span>
                        <div style="position:absolute; left:0; top:0; right:0; bottom:0; 
                        background: linear-gradient(90deg, rgba({{c}},{{c}},{{c}},0) 0%, rgba({{c}},{{c}},{{c}},1) 100%);"
                        data-0="background: linear-gradient(0deg, rgba({{c}},{{c}},{{c}},0) 90%, rgba({{c}},{{c}},{{c}},1) 100%);"
                        data-190="background: linear-gradient(0deg, rgba({{c}},{{c}},{{c}},0) 0%, rgba({{c}},{{c}},{{c}},1) 10%);"
                        data-500="background: linear-gradient(0deg, rgba({{c}},{{c}},{{c}},0) 100%, rgba({{c}},{{c}},{{c}},1) 100%);"
                        > 
                        </div>
                    </a>

                </li>
                <li class="d-inline ">
                    <a class="nav-link" href="index/#projects">Projects</a>
                </li>
                <li class="d-inline">
                    <a class="nav-link" href="services">Services</a>
                </li>
                <li class="d-inline">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>

            </ul>
  
        </nav>
        
    {% block content %}{% endblock %}

    </body>

</html>
