{% extends "base.twig" %}

{% block content %}

<!--<div class="spacer"> spacer</div>

<div class="section-1"
      data-0="position: !static; "
      
     >
  <h1 style="text-align:center;"
      data-200p="opacity: 0;"
      data-250p="opacity: 1;"
      data-300p="opacity: 0"
      data-center-bottom="opacity: 1;"
      data-bottom="opacity: 0;"    
      >Prvi text</h1>
   </div>

<div class="spacer"> spacer</div>-->
<div id="skrollr-body">

{% include 'intro.twig' %}

<!-- second section -->
    <div class="container-fluid d-md-flex flex-column" style="height: 100vh;" id="agency"
            data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="your-agency mx-auto" style="height: 100%;">
            <h2 class="scnd-section-text weight-ch white" 
                data-bottom-top="opacity[swing]:0; transform:translateY(150px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0">
                Your agency for
            </h2>
            <h2 class="scnd-section-text white font-weight-bold"
                data-bottom-top="opacity[swing]:0; transform:translateY(200px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0;">
                branding <br class="d-md-none">
                and <br class="d-md-none">
                web design
            </h2>
        </div>
    </div>
<!--
    <div class="container-fluid d-flex flex-column d-md-none" style="height: 100vh;" id="agency"
            data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="d-flex flex-column justify-content-center align-items-start px-4" style="height: 100%;">
            <h2 class="scnd-section-text white font-weight-normal" 
                data-bottom-top="opacity[swing]:0; transform:translateY(150px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0">
                Your agency for
            </h2>
            <h2 class="scnd-section-text white font-weight-bold"
                data-bottom-top="opacity[swing]:0; transform:translateY(200px)"
                data-center="opacity[swing]:1; transform:translateY(0px)"
                data-top-center="opacity[swing]:0;">
                branding <br>
                and <br>
                web design
            </h2>
        </div>
    </div>
end second section -->

<!-- third section -->
    <div class="third-section padding container-fluid bg-white d-flex flex-column justify-content-center"  style="color: #555454;"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark">
        <div class="row align-items-top" style="">
            <div class="col-12 col-md-6">
                <div class="my-auto wo">
                    <h3 class="positioning-sm py-md-4 pt-sm-5"
                        data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                        data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    
                        >
                            Welcome to <br> 
                        <b
                        data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                        data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                        >
                            the creativework co.
                        </b> 
                    </h3>
                </div>
            </div>
        </div>
        <div class="row align-items-top" style="">
            <div class="col-12 col-md-6">
                <div class="my-auto">
                <p
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    We are a collective with diverse backgrounds that comes together to bring our best into each of our projects. 
                    We are designers, developers, photographers, artists and business people. We connect the dots between nice colors 
                    and their effectiveness for your company.
                </p>
                <p
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    Our clients. Start ups, established businesses, shops, bars & restaurants, freelancers, NGO's and publish institutions.
                </p>
                </div>
            </div>
             <div class="col-12 col-md-6">
                
                <p  class="" style=""
                    data-bottom="opacity:0;"
                    data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Together with our collective we've fulfilled projects all around the world, 
                    including places like London, Den Haag, Frankfurt, Cologne, Belgrade, Dubai, Abu Dhabi and Seoul.
                </p>
                <p
                    data-bottom="opacity:0;"
                    data--20p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--25p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    The branding and web design agency that lets your business look great. Based in 
                    <span
                    data--25p-bottom="color: rgb(126, 126, 126);" 
                    data--40p-bottom="color: rgb(218, 98, 138)"  
                        >Munich, Cologne, Belgrade and Dubai.</span>
                </p>
            </div>       
        </div>
    </div>

<!-- end third section -->

<!-- fourth section -->
    <div class="container-fluid fourth-section d-md-block" 
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="row white flex-column align-items-center justify-content-center neg-space-handler">
            <!-- up!
            style="background-image: url(images/banner_shadow_black.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size:contain;"            
            -->
            <div class="text-center">
                <h2  class=""
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >our</h2>
                <h2 class="font-weight-bold text-transform-uppercase"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >projects</h2>
            </div>
        </div>
    </div>   


<div class="owl-carousel owl-theme h-100-projects" id="projects" style=""
    data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
    <div class="container-fluid m-0 p-0 item h-100-projects" style="" id="joefalk">
        <div class="row no-gutters h-100-projects" style="min-width:100vw;">
            <div class="col-12 col-md-6 order-2 order-md-1 d-none d-md-block" style="margin-top:4px;">
                <img src="images/portfolio-1.png" class="w-100" style="object-fit: cover; height:100%;"/>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-start align-items-start white order-1 order-md-2">     
                <div>
                    <video style="outline:none; height:100%; width:100%; " controls>
                        <source src="videos/JF1850-MASTER-HD.mp4" type="video/mp4">
                        <source src="videos/JF1850-MASTER-HD.ogg" type="video/ogg">
                    </video>
                </div>
                <div class="w-lg-50 frame1-text-padd" style="flex-grow: 1;">
                    <h1 class="pre-wrap-sm">JOEFALK / <br class="d-block d-md-none"/> 1850.</h1>
                    <p class="">
                        A garment brand for products made in Germany. We developed the branding strategy, did the web design, created the online shop, 
                        managed photo and video-shoots, created product brochures for the international market and wrote several texts.
                    </p>
                </div>

                <!--<img src="images/portfolio-2.png" style="" class="p-0 d-block d-md-none w-100" />    
                <img src="img/{{item.SmallImage}}" style="width:100%;flex-grow: 1;" class="p-0 d-none d-md-block" /> -->         
            </div>
        </div>
    </div>
    {% set Projects = fetch("Projects") %}
    {% for item in Projects %}
    {% if loop.index0 is even %}
    <div class="container-fluid m-0 p-0 item h-100-projects" style="">
        <div class="row no-gutters h-100-projects" style="min-width: 100vw;">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start" style="height:100%; background-color: #fff;">
                <img src="img/{{item.SmallImage}}" class="w-100 d-none d-md-block" style=""/>
                <div class="w-lg-50 frame1-text-padd-2 bg-white">
                    <h1 class="pre-wrap-sm">{{item.Title}}</h1>
                    <p class="pt-sm-6" style="">
                        {{item.Text}}
                    </p>
                </div>
                <img src="img/{{item.mob_image}}" style="" class="d-block d-md-none" />   
            </div>
            <div class="col-12 col-md-6 d-none d-md-block white">                
                <img src="img/{{item.LargeImage}}" style="width:100%;flex-grow: 1;" class="p-0 d-none d-md-block project-img-fit" />                       
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid m-0 p-0 item h-100-projects" style="">
        <div class="row no-gutters h-100-projects" style="min-width: 100vw;">
            <div class="col-12 col-md-6 order-2 order-md-1 d-none d-md-block">
                <img src="img/{{item.LargeImage}}" class="w-100" style="object-fit: cover; height:100%;"/>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start white order-1 order-md-2">                
                <div class="w-lg-50 frame1-text-padd">
                    <h1 class="pre-wrap-sm">{{item.Title}}</h1>
                    <p class="pt-sm-6">
                        {{item.Text}}
                    </p>
                </div>
                <img src="img/{{item.mob_image}}" style="" class="p-0 d-block d-md-none w-100" />    
                <img src="img/{{item.SmallImage}}" style="width:100%;flex-grow: 1;" class="p-0 d-none d-md-block" />          
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
        <!--    <div class="container-fluid m-0 p-0 item h-100-projects" style="">
                <div class="row no-gutters h-100-projects" style="">
                    <div class="col-12 col-md-6 d-none d-md-block">
                        <img src="images/portfolio-5.png" class="w-100 h-100-projects" style="object-fit: cover;"/>
                    </div>
                    <div class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start white">                
                        <div class="w-lg-50 frame1-text-padd">
                            <h1 class="pre-wrap-sm">LA JOIE</h1>
                            <p class="pt-sm-6">
                                A French bistro concept for the German market. 
                                We supported this new concept with POS and packaging design as well as with the creation of a pitch deck and start up advisory.                    
                            </p>
                        </div>
                        <img src="images/bistro-mob.png" style="" class="p-0 d-block d-md-none w-100" /> 
                        <img src="images/portfolio-6.png" style="width:100%;flex-grow: 1;" class="p-0 d-none d-md-block" />             
                    </div>
                </div>
            </div> -->

</div>

<!-- end fourth section -->


<!-- sixth section -->
    <div class="container-fluid sixth-section white">
        <div class="row">
            <div class="col text-center"
                data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
                <h2
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >service
                </h2>
                <h2 class="font-weight-bold"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"             
                    >made in Germany
                </h2>
            </div>
        </div>
    </div>
<!-- end sixth section -->
<!-- footer -->
    {% include 'footer.twig' with {'boja' : '#DA628A'}  %}
<!-- end footer -->
</div>

<style>
.owl-nav{
    position:absolute;
    bottom:5vh;
    right:3rem;
}
.owl-dots{
    position:absolute;
    bottom:5vh;
    left:0;
}
@media only screen and (max-width: 768px) {
.owl-nav{
    position:absolute;
    bottom:6vh !important;
    right:2rem;
}
.owl-dots{
    position:absolute;
    bottom:6vh !important;
    left: 0rem;  
}
}
</style>
<script>
window.addEventListener('load', function() {
    console.log('All assets are loaded')
    console.log('doc on load')
    var owl = $('.owl-carousel');
    
    owl.owlCarousel({
        loop:false,
        margin:0,
        nav:true,
        items:1,
        smartSpeed:450,
        touchDrag: false,
         navText: ["<img src='images/purple_line.png'>",'<span id="navnumber">1</span>']
    })
    ;
owl.on('changed.owl.carousel', function(event) {
    console.log(event)
    window.document.getElementById('navnumber').innerHTML = event.item.index+1
})

    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            //if (element.classList.contains('fourth-section') && 
            //if (window.innerHeight<768)  return
            var clas = (element && element.dataset)?element.dataset.menu:null;
            //console.log('menu class:', clas, element.id, name, direction, element )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
       // , skrollrBody:'projects'
    });
    skrollr.menu.init(s, {
        //skrollr will smoothly animate to the new position using `animateTo`.
        animate: true,
        //The easing function to use.
    //    easing: 'sqrt',

        //Multiply your data-[offset] values so they match those set in skrollr.init
    //	scale: 2,

        //Add hash link (e.g. `#foo`) to URL or not.
      //  updateUrl: false //defaults to `true`.
    });    

})

</script>



<script>

/*
    var hash = document.location.hash
    if (hash) {
        hash = hash.substr(1)
        var link = document.getElementById(hash);
        skrollr.menu.click(link);    
        console.log('scrolled to ', hash, link)
    }
     */
</script>

{% endblock %}