    <div class="container-fluid fourth-section d-md-block" 
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="row white flex-column align-items-center justify-content-center neg-space-handler">
            <div class="text-center">
                <h2  class=""
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >our</h2>
                <h2 class="font-weight-bold text-transform-uppercase"
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                    >projects</h2>
            </div>
        </div>
    </div>   


<div class="owl-carousel owl-theme h-100-projects" id="projects" style=""
    data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
    <div class="container-fluid m-0 p-0 item h-100-projects" style="" id="joefalk">
        <div class="row no-gutters h-100-projects" style="min-width:100vw;">
            <div class="col-12 col-md-6 order-2 order-md-1 d-none d-md-block" style="margin-top:4px;">
                <img src="images/portfolio-1.png" class="w-100" style="object-fit: cover; height:100%;"/>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-start align-items-start white order-1 order-md-2">     
                <div>
                    <video style="outline:none; height:100%; width:100%;margin-top: 0.5px; "  controls preload="none" poster="images/video-poster.png">
                        <source src="videos/JF1850-MASTER-HD.mp4" type="video/mp4">
                        <source src="videos/JF1850-MASTER-HD.ogg" type="video/ogg">
                    </video>
                </div>
                <div class="w-lg-50 frame1-text-padd" style="flex-grow: 1;">
                    <h1 class="pre-wrap-sm">JOEFALK / <br class="d-block d-md-none"/> 1850.</h1>
                    <p class="">
                        A garment brand for products made in Germany. We developed the branding strategy, did the web design, created the online shop, 
                        managed photo- and video-shoots, created product brochures for the international market and wrote several texts.
                    </p>
                </div>      
            </div>
        </div>
    </div>
    {% set Projects = fetch("Projects") %}
    {% for item in Projects %}
    {% if loop.index0 is even %}
    <div class="container-fluid m-0 p-0 item h-100-projects" style="">
        <div class="row no-gutters h-100-projects" style="min-width: 100vw;">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start" style="height:100%; background-color: #fff;">
                <img src="img/{{item.SmallImage}}" class="w-100 d-none d-md-block" style=""/>
                <div class="w-lg-50 frame1-text-padd-2 bg-white">
                    <h1 class="pre-wrap-sm">{{item.Title}}</h1>
                    <p class="pt-sm-6" style="">
                        {{item.Text}}
                    </p>
                </div>
                <img src="img/{{item.mob_image}}" style="" class="d-block d-md-none" />   
            </div>
            <div class="col-12 col-md-6 d-none d-md-block white">                
                <img src="img/{{item.LargeImage}}" style="width:100%;flex-grow: 1;" class="p-0 d-none d-md-block project-img-fit" />                       
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid m-0 p-0 item h-100-projects" style="">
        <div class="row no-gutters h-100-projects" style="min-width: 100vw;">
            <div class="col-12 col-md-6 order-2 order-md-1 d-none d-md-block">
                <img src="img/{{item.LargeImage}}" class="w-100" style="object-fit: cover; height:100%;"/>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start white order-1 order-md-2">                
                <div class="w-lg-50 frame1-text-padd">
                    <h1 class="pre-wrap-sm">{{item.Title}}</h1>
                    <p class="pt-sm-6">
                        {{item.Text}}
                    </p>
                </div>
                <img src="img/{{item.mob_image}}" style="" class="p-0 d-block d-md-none w-100" />    
                <img src="img/{{item.SmallImage}}" style="width:100%;flex-grow: 1;" class="p-0 d-none d-md-block" />          
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>