{% extends "base_de.twig" %}
{% block content %}

<div id="skrollr-body">
<!-- first section -->
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" style="background-color: #000;">
        <div class="row justify-content-center align-items-center" style="background-color: #000;">
            <img src="images/Do-something-great.jpg" class="img-fluid d-none d-md-block"/>
            <img src="images/services-mob.png" class="img-fluid d-block d-md-none"/>
        </div>
    </div>
<!-- end first section -->

<!-- second section -->
    <div class="container-fluid bg-white second-section-services d-flex flex-column align-items-center justify-content-center"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark">
        <div class="row my-auto pt-xl-5" style="margin-top: auto !important; margin-bottom: auto !important;">
            <div class="col-12 col-md-6">
                <h2 class="font-weight-bold serv-your mt-n2" style=""
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >the creativework co.</h2>
                <h3 class="pb-5"
                    data-bottom="opacity:0; transform: translate3d(-10px, 10px, 0);"
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >wir geben Marken eine Identität &amp; verbinden euer Geschäft mit der digitalen Welt 
                </h3>
            </div>
            <div class="col-12 col-md-6">
                <p  class=""
                    data-bottom="opacity:0;"
                    data--2p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Wir bauen eure Marke auf oder verhelfen ihr zu neuem Glanz. 
                    Vom Logo Design und Druckerzeugnissen bis hin zu Verpackungsgestaltung und Webdesign. 
                </p>
                <p  class=""
                    data-bottom="opacity:0;"
                    data--2p-bottom="opacity:0; transform: translate3d(10px, 10px, 0);" 
                    data--10p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);"  
                >
                    Wir unterstützen euch auch bei der gesamten Markenstrategie, vom weißen Blatt Papier bis hin zu dem Moment, 
                    an dem wir euch euer Markenhandbuch übergeben können (und darüber hinaus).
                </p>
            </div>
            <div class="col-12">
                <a href="#contact" style="">
                    <span class="" style="color: #7E7E7E;">Starte Dein Projekt</span>
                    <img src="images/start.png" class="pl-3"/>
                </a>
            </div>
        </div>
    </div>
<!-- end second services -->

<!-- third section -->
    <div class="container-fluid third-section-services-heading white"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite"
        >
        <div class="row" style="">
            <div class="col">
                <h2 class="my-auto font-weight-bold"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"

                >Wir machen</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid third-section-services white"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite">
        {% set Wir_machen = fetch("Wir_machen") %}
        {% for item in Wir_machen %}
        <div class="row pb-4">
            <div class="col-12 col-md-5 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                    {{item.Title}}
                </h3>
            </div>
            <div class="col-12 col-md-7 white">
                <img src="images/roze-linija.svg" 
                    style="width:100%; height:2px;"
                    class="bt-pink d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    {{item.Paragraph_1}}
                </p>
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    {{item.Paragraph_2}}
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
<!-- end third section -->

<!-- fourth section -->
    <div class="container-fluid fourth-section-services-1 we-love bg-white"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark" >
        <div class="row fourth-bg-text">
            <div class="col pl-0">
                <h2
                    data-bottom="opacity:0; transform: translate3d(-15px, 10px, 0);"
                    data--7p-bottom="opacity:1; transform: translate3d(0px, 0px, 0);" 
                >
                    <span class="weight-ch">Wir </span> <br class="d-md-none">
                    <span class="font-weight-bold">arbeiten mit</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid fourth-section-services-2 bg-white"
        data-top="" data-top-bottom="" data-emit-events data-menu="dark" >

        {% set Wir_arbeiten_mit = fetch("Wir_arbeiten_mit") %}
        {% for item in Wir_arbeiten_mit %}
        <div class="row pb-4 pt-lg-4">
            <div class="col-12 col-md-5">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <h3
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;">
                        {{item.Title}}
                </h3>
            </div>
            <div class="col-12 col-md-7">
                <img src="images/plava-linija.png"
                    style="width:100%; height:1px;"                    
                    class="bt-grey d-none d-md-block"
                    data-bottom="opacity:0;"
                    data--15p-bottom="opacity:1;" 
                    data-15p-top="opacity:1;" 
                    data-top="opacity:0;"
                />
                <p class=""
                    data-bottom="opacity:0;"
                    data--25p-bottom="opacity:1;" 
                    data-25p-top="opacity:1;" 
                    data-top="opacity:0;"
                >
                    {{item.Paragraph_1}}
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
<!-- end fourth section -->

<!-- fifth section -->
    <div class="container-fluid fifth-section-services"
        data-top="" data-top-bottom="" data-emit-events data-menu="lite" >
        <div class="container">
            <h2 class="white py-5">Meet the founders</h2>
            <img src="images/founders.jpg" class="img-fluid"/>
            <p class="white py-5">Dragan and Chris</p>
        </div>
    </div>
<!-- end fifth section -->

<!-- footer -->
    {% include 'footer_de.twig' with {'boja' : '#79B2C6'}  %}
<!-- end footer -->
</div>

<script>
window.addEventListener('load', function() {
    var menu = document.getElementById("menu")
    var s = skrollr.init({
        forceHeight:false
        , keyframe: function(element, name, direction) {
            if( name=='dataTopBottom' && direction=='down') return // ignorisemo bottom ako ide dolje
            if( name=='data20Top' && direction=='up') return 
            if( name=='dataTop' && direction=='up') return 
            if (element.classList.contains('fourth-section') && (window.innerHeight<768) ) return
            var clas = (element && element.dataset)?element.dataset.menu:null;
            //console.log('menu class:', clas, element.id, name, direction, element )
            if (!clas) return
            menu.classList.remove('lite'); 
            menu.classList.remove('dark');
            menu.classList.add(clas);
        }
       // , skrollrBody:'projects'
    });
    skrollr.menu.init(s, {
        //skrollr will smoothly animate to the new position using `animateTo`.
        animate: true,
        //The easing function to use.
    //    easing: 'sqrt',

        //Multiply your data-[offset] values so they match those set in skrollr.init
    //	scale: 2,

        //Add hash link (e.g. `#foo`) to URL or not.
      //  updateUrl: false //defaults to `true`.
    });    

})
</script>


{% endblock %}

